@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
* {
    margin: 0px;
    padding: 0px
}

.header{
    font-family: 'Fira Sans', sans-serif;
    height: 100px;
    background: #182153;
    padding: 0 20px;
    color: #fff
}
.logo {
    line-height: 100px; /* espacio de interlineado*/
    float: left;
    text-transform: uppercase;
}

.menu {
    float: right;  
    line-height: 100px
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none; /* para quitar la línea de subrayado */
    padding: 0 10px; /* espacio alrededor del contenido del elemento, pero dentro de sus bordes (espacioentre contenido y borde) */
    transition: 0.4s
}

.show-menu-btn, .hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;  /*para el tamaño de los botones menu y X*/
    cursor: pointer;
    display: none /* saca el elemento del flujo no reserva su espacio*/
}

.show-menu-btn {
    float: right; /*hace que el botón del menú flote hacia la derecha*/
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #3498db; 
}

#chk {
    position: absolute; /*pierde su tamaño y espacio en el flujo, su ancho lo define su contenido*/
    visibility: hidden;
    z-index: -1111; /**/
}
/* medidas menores iguales a 800px de ancho se mostrará con sandwich menu */
@media screen and (max-width: 800px) { 
    .show-menu-btn, .hide-menu-btn{
        display: block; /*cuando llegue a 801px el menú se muestra en bloque uno debajo de otro*/
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }

    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #chk:checked ~ .menu {
        right: 0;
    }    
    
    .title-section {
        font-family: 'Merriweather', sans-serif;
        font-size: 25px;
        text-align: center;
        margin-top: 2.5%;
    }

    .container-about-me {
        height: 100%;
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
       }
    .container-section {
        height: 90%;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        flex-wrap:wrap;
        margin-bottom: 15%;  
    }
    .foto-perfil{
        width: 100%;
        border-radius: 10px;
        margin-top: 10%    
    }  
    
    .presentation {
        width: 95%;
        flex-basis: 95%;
        height: 90%;
        margin-top: 5%;
        margin-bottom:20%
    } 
    
    .description-about-me {
        font-family: 'Fira Sans', sans-serif;
        font-size: 17px;
        line-height: 30px;
        text-align: justify
    } 
    .img-project{  
        width: 150px;
        height:150px;
        margin-top: 10%;
        border-radius: 10px;
        border-color: #182153;
        border-width: 2px;
        border-style: solid;
    }
    .subtitle-contacto {
        font-family: 'Fira Sans', sans-serif;
        font-size: 20px;
        text-align: center;
        margin-top: 10%   
     }
     
     .container-section-contact {
         height: 90%;
         width: 90%;
         margin: auto;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         flex-wrap:wrap;
         margin-bottom: 15%;  
     }
     
     .contact-information{  
         flex-basis: 50%; 
         width: 270px;
         height:30px;
         margin-top: 10%;   
         font-family: 'Fira Sans', sans-serif;
         font-size: 18px;
     }
     
     .link{
         text-decoration: none;
         color: black;
         cursor: pointer;    
     }
     
     .link:hover{
         color: #182153;
         font-weight: bold;
         transition: 0.4s;
         font-size: 17px
     
     } 
       
}

/* para el contenido acerca de mi  */
@media (min-width: 800px){  
      .container-about-me {
        height: 100%;
        width: 25%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
       } 

      .foto-perfil{
        width: 100%;
        border-radius: 10px;
        margin-top: 10%    
        }   

      .presentation {
        flex-basis: 95%;
        height: 90%;
        margin-top: 5%;      
      }
    
      .description-about-me {
        font-family: 'Fira Sans', sans-serif;
        font-size: 17px;
        line-height: 30px;
        text-align: justify
      }

      .title-section {
        font-family: 'Merriweather', sans-serif;
        font-size: 25px;
        text-align: center;
        margin-top: 2.5%;
    }
}
 /* Para contenido de la sección proyectos */
@media (min-width: 800px){
    .container-section {
        height: 90%;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-content: center;
        flex-wrap:wrap;
        margin-bottom: 5%;  
    }
    .img-project{  
        width: 200px;
        height: 200px;
        margin-top: 10%;       
        border-radius: 10px;
        border-color: #182153;
        border-width: 2px;
        border-style: solid;
    }
}

/*Para contenido de contacto*/
@media (min-width: 800px){
    .subtitle-contacto {
        font-family: 'Fira Sans', sans-serif;
        font-size: 20px;
        text-align: center;
        margin-top: 5% ;
        margin-bottom: 2% 
     }
     
    .container-section-contact {
         height: 90%;
         width: 90%;
         margin: auto;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         flex-wrap:wrap;
         margin-bottom: 15%;  
     }
     
     .contact-information{  
         flex-basis: 50%; 
         width: 290px;
         height:30px;
         margin-top: 3%;   
         font-family: 'Fira Sans', sans-serif;
         font-size: 18px;
     }
     
     .link{
         text-decoration: none;
         color: black;
         cursor: pointer;    
     }
     
     .link:hover{
         color: #182153;
         font-weight: bold;
         transition: 0.4s;
         font-size: 19px     
     } 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(235, 149, 189);
    color: #182153
  }
.flex {
    display: flex;
    justify-content: center;
    align-items: center
 }
  
.padding {
    padding: 1rem
  }
